{% extends "base.html" %}
{% block content %}
    

        <div class="header">
            <h1>Admin Controls</h1>
            
            <div class="dropdown">
              <button class="dropbtn" style="z-index: 2">Dropdown</button>
              <div class="dropdown-content">
                  <a href="test.html">Link 1</a>
                  <a href="test.html">Link 2</a>
                  <a href="test.html">Link 3</a>
            </div>
        </div>
        
        </div>
        
        <link rel="stylesheet" href="C:\Users\Hiranya\PycharmProjects\App\static\admin.css">
        
        <div class="buttons">
            <a class="btn btn-primary" href="/new_item" role="button">New Items</a>
            <a class="btn btn-primary" href="#" role="button">New Users</a>
            <a class="btn btn-primary" href="#" role="button">Loans</a>

            
        </div>
        
{% endblock %}