{% extends "base.html" %}
{% block content %}
<a class="btn btn-primary" href="/new_item" role="button">+</a>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Item Name</th>
      <th scope="col">Total Quantity</th>
      <th scope="col">Available Quantity</th>
      <th scope="col">Quantity Loaned</th>
      <th scope="col">Quantity Broken</th>




    </tr>
  </thead>
  <tbody>
  {% for row in rows %}

    <tr>
      <td>{{row.name}}</td>
      <td>{{row.barcode}}</td>
      <td>{{row.description}}</td>
      <td>{{row.sku}}</td>
      <td>{{row.exgst}}</td>
      <td><a class="btn btn-primary" href="/item/delete?id={{row.id}}" role="button"></a></td>
      <td>{{row.id}}</td>


    </tr>
  {% endfor %}

  </tbody>
</table>
{% endblock %}